body {
  background-image: url("https://i.pinimg.com/originals/da/4c/e2/da4ce2105542ab7444830843538ce7dc.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.summary {
  display: none;
}

.jumbotron {
  text-align: center;
  background-color: darkgray;
  color: pink;
  font-style: comic;
}

img.thumbnail {
  display: none;
  width: 100px;
  height: 100px;
}

.summary {
  color: white;
}

 .white-label {
  color: white;
}
